<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='user-auth.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-auth.css') }}">

</head>
<body>
    <div class="login-container">
        <h2>Welcome Back</h2>
        <p>Please login to your account</p>
        <form action="{{ url_for('login') }}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <label for="user_type">User Type</label>
            <select id="user_type" name="user_type" required>
                <option value="" disabled selected>Select user type</option>
                <option value="student">Student</option>
                <option value="faculty">Faculty</option>
                <option value="admin">Admin</option>
            </select>

            <button type="submit">Login</button>
        </form>
        <div class="footer">
            <p>Don't have an account? <a href="/auth/register">Sign up</a></p>
        </div>
    </div>
</body>
</html>
